#container {
    height: 300px;
    width: 80%;
    background-color: azure;
    border: 2px solid red;
    position: relative;
    left: 10%;
    color: ivory;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    text-align: center;
}

#violet {
    background-color: violet;
}

#black {
    background-color: black;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
    align-self: center;
    flex-basis: 50%;
}

#red {
    background-color: red;
}

#container div {
    height: 50px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}