#container {
    height: 400px;
    width: 390px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-self: center;
}

.letter {
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    margin-top: 15px;
}